<a href="https://colab.research.google.com/github/hiteshnagar2611/Legacy_ML_Projects/blob/main/Gold_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

Data Collection & Processing

In [2]:
# Loading the data from csv to a Pandas DataFrame
gold_data = pd.read_csv('/content/Daily.csv')

In [3]:
gold_data.head()

         Date    USD    EUR       JPY    GBP  ...  EGP        KRW  RUB    ZAR    AUD
0  12/29/1978  226.0  137.1       NaN  110.7  ...  NaN        NaN  NaN    NaN    NaN
1    1/1/1979  226.0  137.1       NaN  110.7  ...  NaN        NaN  NaN    NaN    NaN
2    1/2/1979  226.8  137.3  43,164.9  111.5  ...  NaN  107,470.0  NaN  194.6  193.6
3    1/3/1979  218.6  134.0  43,717.9  108.0  ...  NaN  108,027.4  NaN  192.2  193.0
4    1/4/1979  223.2  136.8  43,674.9  110.7  ...  NaN  108,602.5  NaN  193.0  194.6

[5 rows x 20 columns]

In [4]:
gold_data.shape

(11626, 20)

In [5]:
# getting some basic information about the data
gold_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11626 entries, 0 to 11625
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    11626 non-null  object
 1   USD     11626 non-null  object
 2   EUR     11626 non-null  object
 3   JPY     11624 non-null  object
 4   GBP     11626 non-null  object
 5   CAD     11624 non-null  object
 6   CHF     11624 non-null  object
 7   INR     11624 non-null  object
 8   CNY     10055 non-null  object
 9   TRY     10581 non-null  object
 10  SAR     11624 non-null  object
 11  IDR     11624 non-null  object
 12  AED     11624 non-null  object
 13  THB     11624 non-null  object
 14  VND     8775 non-null   object
 15  EGP     9035 non-null   object
 16  KRW     11624 non-null  object
 17  RUB     7965 non-null   object
 18  ZAR     11624 non-null  object
 19  AUD     11624 non-null  object
dtypes: object(20)
memory usage: 1.8+ MB

In [6]:
# cheking the number of missing values
gold_data.isnull().sum()

Date       0
USD        0
EUR        0
JPY        2
GBP        0
CAD        2
CHF        2
INR        2
CNY     1571
TRY     1045
SAR        2
IDR        2
AED        2
THB        2
VND     2851
EGP     2591
KRW        2
RUB     3661
ZAR        2
AUD        2
dtype: int64